<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar pais">
    </app-pais-input>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let pais of paisesSugeridos"><a class="nav-link"
      [routerLink]="['/pais', pais.alpha2Code]">{{pais.name}}</a></li>
</ul>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
  No se encontró nada con el término: {{termino}}
</div>

<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>